.searchForm {
  display: flex;
  gap: 6px;
}

.input {
  border: 1px solid darkslategrey;
  border-radius: 4px;
}

.input:hover,
.input:focus {
  border-color: rgb(44, 102, 53);
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(85, 131, 39);
  color: beige;
}

.btn:hover,
.btn:focus {
  background-color: rgb(139, 199, 79);
}
